* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

#app:not([data-v-app]) {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
}

.file-list > li {
  width: 33.33%;
}

@media only screen and (max-width: 768px) {
  .file-list > li {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="search"] {
  background-color: whitesmoke;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 8px;
}

.file-item {
  height: 64px;
  padding: 8px 0;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.file-item:hover {
  background-color: #f5f5f5;
}

.file-item > div {
  min-width: 0;
}

.file-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-name,
.contextmenu-filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file-attr {
  margin-top: 4px;
  color: dimgray;
  font-size: 0.8em;
}

.file-attr > span + span {
  margin-left: 8px;
}

progress {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.upload-button,
.create-folder-button {
  position: fixed;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 128, 32);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.upload-button {
  right: 16px;
  bottom: 16px;
}

.create-folder-button {
  right: 16px;
  bottom: 80px;
}

.contextmenu-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contextmenu-container {
  background-color: white;
  width: 300px;
  padding: 8px 0;
  border-radius: 8px;
}

.contextmenu-filename {
  padding: 12px;
}

.contextmenu-list > li > * {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
  font-size: inherit;
}

.contextmenu-list > li > *:hover {
  background-color: whitesmoke;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
